Texxtoor/Solution/ImportWordHtmlWinApp/Service References/PlatformService/UploadService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.texxtoor.com/Fault" elementFormDefault="qualified" targetNamespace="http://www.texxtoor.com/Fault" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SignFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignFault" nillable="true" type="tns:SignFault" />
</xs:schema>