Texxtoor/Solution/ImportWordHtmlWinApp/Service References/PlatformService/UploadService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.texxtoor.de/serviceapi/Services/UploadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Texxtoor.Portal.ServiceApi.Services.ServiceDtos" />
  <xs:import schemaLocation="http://www.texxtoor.de/serviceapi/Services/UploadService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Texxtoor.DataModels.Models.Author" />
  <xs:import schemaLocation="http://www.texxtoor.de/serviceapi/Services/UploadService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://www.texxtoor.de/serviceapi/Services/UploadService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="PublishDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
        <xs:element minOccurs="0" name="html" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PublishDocumentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishNewDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="html" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishNewDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PublishNewDocumentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Texxtoor.Portal.ServiceApi.Services.ServiceDtos" minOccurs="0" name="GetAllProjectsResult" nillable="true" type="q1:ArrayOfServiceElement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignOutResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignInResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Texxtoor.Portal.ServiceApi.Services.ServiceDtos" minOccurs="0" name="GetDocumentSettingsResult" nillable="true" type="q2:DocumentProperties" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="snippetId" type="xs:int" />
        <xs:element minOccurs="0" name="target" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="closed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Texxtoor.Portal.ServiceApi.Services.ServiceDtos" minOccurs="0" name="SaveCommentResult" nillable="true" type="q3:ArrayOfComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="snippetId" type="xs:int" />
        <xs:element minOccurs="0" name="target" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Texxtoor.Portal.ServiceApi.Services.ServiceDtos" minOccurs="0" name="LoadCommentsResult" nillable="true" type="q4:ArrayOfComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SemanticLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Texxtoor.DataModels.Models.Author" minOccurs="0" name="type" type="q5:TermType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SemanticListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="SemanticListsResult" nillable="true" type="q6:ArrayOfKeyValuePairOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetServerImagesResult" nillable="true" type="q7:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="asThumbnail" type="xs:boolean" />
        <xs:element minOccurs="0" name="thumbNailSize" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerImageName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerImageNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerImageNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>